{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "airbnb",
    "eslint:recommended"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["error"]
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {}
}
